/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U
                &kp A &kp S &kp D &kp F &kp G &kp H &kp J
                &kp Z &kp X &kp C &kp V &kp B &kp N &kp M
                &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7
                &kp SPACE &kp ENTER &kp TAB &kp ESC &kp BSPC &kp LCTRL &kp LALT
            >;
        };
    };
};
