/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios = <
            &nice_nano 6  GPIO_ACTIVE_HIGH,
            &nice_nano 8  GPIO_ACTIVE_HIGH,
            &nice_nano 17 GPIO_ACTIVE_HIGH,
            &nice_nano 20 GPIO_ACTIVE_HIGH,
            &nice_nano 22 GPIO_ACTIVE_HIGH
        >;

        row-gpios = <
            &nice_nano 24  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN),
            &nice_nano 100 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN),
            &nice_nano 11  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN),
            &nice_nano 104 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN),
            &nice_nano 106 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN),
            &nice_nano 101 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)
        >;
    };
};
